/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  background red
  transition 0.5s
  max-height 60px
  transform: translateX(-120%)
  &.order-enter-active
    background yellow 
    transform: translateX(0)
    padding 2rem 0 !important


.order-exit
  background thistle
  transition 0.5s
  transform: translateX(0)
  &.order-enter-active
    background palegoldenrod  
    transform: translateX(-120%)
    padding 2rem 0 !important

.count
  background: red
  transition 5s
  transform translateY(100%)
  &.count-enter-active
    background: yellow 
    transform translateY(0)

.count-exit
  background: black 
